 <div class="user-details">
  <h3></h3>
  <h1>Who am I?</h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Programming</h2>
      <p>I have been programming in <strong>C#</strong> for about 3 years and in <strong>C++</strong> for about 2 years. I have delivered 
        projects in both languages mainly for my studies, but also for gamejams. Currently I spend most of my time working with C++.</p>
    </div>
    <div class="tech">
      <h2>Engines</h2>
      <p>I have worked some with both <strong>Unity</strong> and <strong>Unreal</strong>. Mostly for prototyping and testing ideas.</p>
    </div>
    <div class="tech">
      <h2>Libraries</h2>
      <p>I have experience with <strong>OpenGL</strong> and I am currently working with <strong>FMOD</strong>.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <p>Over the years <strong>Visual Studio</strong> was my most commonly used IDE. For version control I used <strong>Git</strong>.</p>
    </div>
</div>
