 <div id="particles-js">
    <svg id="svg-container">
      
    </svg>    
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="LinkedIn" target="_blank" href="https://www.linkedin.com/in/cieslowskidaniel/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="Email" href="mailto:cieslowskids@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="Twitter" target="_blank" href="https://twitter.com/Arangear"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="Github" target="_blank" href="https://github.com/Arangear"><i class="icon fa fa-github" aria-hidden="true"></i></a>
        <a aria-label="Youtube" target="_blank" href="https://www.youtube.com/channel/UCIDagXNAX6yj3KvTfyZOJcA"><i class="icon fa fa-youtube" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
