<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="scms" src="./../assets/img/scms.jpg" />
  </div>
  <div class="contents">
    <h3>Super Crazy Mad Scientist</h3>
    <ul>
      <li> C#, Unity </li>
    </ul>
    <p>This is the first game I have ever made. I worked on it in a team of 5 people I met on the game jam this game was an entry for. It was my first time working with Unity and we were supposed to deliver a game within 48 hours. I worked on the platformer part of the game. It is what got me interested in game development.</p>
    <div class="header-icons">
      <a aria-label="Github" target="_blank" href="https://github.com/kakus/sgj16"><i class="icon fa fa-github" aria-hidden="true"></i></a>
      <a aria-label="Game" target="_blank" href="https://krrispl.itch.io/mad-scientist"><i class="icon fa fa-arrow-circle-down" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="15puzzle" src="./../assets/img/puzzle.png" />
  </div>
  <div class="contents-right">
    <h3> The 15 Puzzle </h3>
    <ul>
      <li> C++</li>
    </ul>
    <p>This is my submission for my MSc programming course. It counts continuous rows and columns in all states of a given 15-puzzle. This project's main requirement was to utilise various C++ features while also developing an efficient approach to the presented problem.</p>
    <div class="header-icons">
      <a aria-label="Github" target="_blank" href="https://github.com/Arangear/The15Puzzle"><i class="icon fa fa-github" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="graphics" src="./../assets/img/graphics.png" />
  </div>
  <div class="contents">
    <h3> Graphics </h3>
    <ul>
      <li> OpenGL, GLSL, C++</li>
    </ul>
    <p>This is an island rising from beneath the water. It presents my implementation of efficient rendering techniques and rendering the final image on screen. The implementation is an extension to an exisitng NCLGL rendering engine.</p>
    <div class="header-icons">
      <a aria-label="Github" target="_blank" href="https://github.com/Arangear/Graphics-for-Games"><i class="icon fa fa-github" aria-hidden="true"></i></a>
      <a aria-label="Youtube" target="_blank" href="https://www.youtube.com/watch?v=HvzMBSASeqw"><i class="icon fa fa-youtube" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="physics" src="./../assets/img/tech.PNG" />
  </div>
  <div class="contents-right">
    <h3> Game Tech </h3>
    <ul>
      <li> C++ </li>
    </ul>
    <p>This project presents my implementations of advanced game technologies. Those include collision detection, state machine and pushdown automata AI with grid based A* pathfinding with custom string pulling path optimization and some networking features.</p>
    <div class="header-icons">
      <a aria-label="Github" target="_blank" href="https://github.com/Arangear/Advanced-Game-Technologies"><i class="icon fa fa-github" aria-hidden="true"></i></a>
      <a aria-label="Youtube" target="_blank" href="https://www.youtube.com/watch?v=jArcrStyCcQ"><i class="icon fa fa-youtube" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="prototype" src="./../assets/img/prototype.PNG" />
  </div>
  <div class="contents">
    <h3> Golf Prototype </h3>
    <ul>
      <li> Unreal </li>
    </ul>
    <p>This is a quick implementation of a golf game. I implemented it using Unreal Engine. It has multiple mechanics that can be layered on top of each other. The idea was to present some mechanics that could be used in the final implementation without using commercial engines.</p>
    <div class="header-icons">
      <a aria-label="Github" target="_blank" href="https://github.com/Arangear/GolfPrototype"><i class="icon fa fa-github" aria-hidden="true"></i></a>
      <a aria-label="Youtube" target="_blank" href="https://www.youtube.com/watch?v=niWb9Doitho"><i class="icon fa fa-youtube" aria-hidden="true"></i></a>
    </div>
  </div>
</div>